
  h1 {color: rgb(2, 2, 55);}
  h1 {font-size: 15pt;}

  body {
    background-color: rgb(246, 241, 227);
  }
  body {font-size: 10pt;}
  body {font-family: 'Times New Roman', Times, serif;}
  body {text-align: center;}
.blue-text {color: blue;
}
.purple-text {color:rgb(106, 85, 111)}
p {font-size: 12.5pt;}
div {
  width: 300px;
  border: 0px;
  margin:auto;
  padding: 10px;
  text-align: left;
  font-size: 12.5pt;
  justify-content: center;
}
